
.navbanner-top,
.navbanner-bottom{
	line-height: .5;
}
.navbanner-top{
	margin-right: auto;
	margin-left: auto;
}
.navbanner-bottom{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.navbanner-logo{
	padding: 10px 0;

}
.navbanner-logo img{
	display: block;
	max-height: 80px;
	margin-left: auto;
	margin-right: auto;
}

